html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
h1 {
  font-family: Karla;
  font-size: 4rem;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}
section {
  display: block;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CUSTOM CSS */

html {
  font-family: Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
}
section {
  background-color: #ffffff;
  width: 70%;
}

aside {
  position: absolute;
  z-index: 0;
  background-color: #ffe6e8;
  width: 30%;
  height: 230%;
  top: 0;
  right: 0;
  width: 30%;
}
/*aside * {
  padding: 10%;
}*/
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  background-color: #ffe6e8;
  width: 30%;
  height: 300%;
  z-index: 999;
}

#text1 {
  padding: 10%;
  padding-bottom: 5%;
}

#text2 {
  padding: 0% 10% 3% 10%;
}

@media screen and (max-width: 500px) {
  section,
  aside {
    width: 100%;
  }
}
.text_box_1 {
  width: 60%;
  margin: auto;
  padding-top: 2%;
}

a:hover {
  background-color: rgb(240, 61, 16);
  color: white;
}

.pokeballs {
  display: inline;
  box-sizing: border-box;
}

.pokeballs img:hover {
  opacity: 50%;
}

form {
  /* background-color: #cf4343; */

  height: 30px;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10%;
}

input {
  box-sizing: border-box;
  overflow: hidden;

  font: 16px Karla;
  height: 100%;
  width: 100%%;
  padding: 10px 0px;
}
::placeholder {
  color: #ffb0b7;
  opacity: 1;
}

button {
  cursor: pointer;
  height: 100%;
  width: 10%;

  color: white;
  background-color: #ff919a;
}
/* 
input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
} */
